.p14q429 {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* مهم ليتمركز inputs مطلقًا داخلها */
}


.inputsp29 {
  width: 800px;  /* حجم البطاقة */
  height: 200px;
  background-image: url('../../../assets/unite2pages/U2P46-02.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* مهم ليكون المرجع للـ absolute */
}
.inputsp14 input{
width: 40%;
padding: 6px;
background-color: aliceblue;
}
.input129 {
  position: absolute;
  top: 12%;   /* المسافة من الأعلى */
  left: 18%; /* المسافة من اليسار */
  width: 200px;
}

.input229 {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 200px;
}

.input329 {
  position: absolute;
  top: 37%;
  left: 17%;
  width: 200px;
}

.input429 {
  position: absolute;
  top: 50%;
  left: 24%;
  width: 200px;
}

.input529 {
  position: absolute;
  top: 70%;
  left: 100px;
  width: 10%;
  height: 20%;

}
.input629{
  position: absolute;
  top: 62%;
  left: 32%;
  width: 200px;
}
.input729{
  position: absolute;
  top: 75%;
  left: 32%;
  width: 200px;
}
