.input-q53p-0 { top: 40%; left: 12%; }
.input-q53p-1 { top: 40%; left: 24%; }
.input-q53p-2 { top: 40%; left: 35%; }
.input-q53p-3 { top: 40%; left: 49%; }
.input-q53p-4 { top: 40%; left: 58%; }
.input-q53p-5 { top: 75%; left: 40%; }
.input-q53p-6 { top: 75%; left: 55%; }
.input-q53p-7 { top: 75%; left: 67%; }
.input-q53p-8 { top: 75%; left: 78%; }
.input-q53p-9 { top: 75%; left: 90%; }