.p14q4 {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* مهم ليتمركز inputs مطلقًا داخلها */
}



.inputsp14q {
  width: 800px;  /* حجم البطاقة */
  height: 500px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* مهم ليكون المرجع للـ absolute */
}
.inputsp14 input{
width: 40%;
padding: 6px;
background-color: aliceblue;
}

/* Media Query للشاشات أقل من 900px */
@media (max-width: 900px) {
  .image-popup {
    width: 90%;       /* عرض أكبر لتتناسب مع الشاشة */
    height: 250px;    /* تقليل الارتفاع */
    margin-top: 15px; /* تعديل المسافة العلوية إذا لزم */
  }
}

/* Media Query للشاشات الصغيرة جدًا أقل من 500px */

.inputsp62Q5 {
  width: 800px;  /* حجم البطاقة */
  height: 500px;
  background-image: url('../../../assets/unite3pages/svg/page62Q5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* مهم ليكون المرجع للـ absolute */
}